# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
# *.sqlite3
# db.sqlite3
# media/
# staticfiles/
.env

# If using virtualenv
venv/
ENV/
env/
.venv/
venv-y/
.venv-y/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# mypy type checker
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django migrations (optional: ignore if you want to track migrations)
*/migrations/*.py
!*/migrations/__init__.py

# Node modules if using frontend builds
node_modules/
